@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body {
    background: #f5f5f5 !important;
    font-family: 'Cairo', sans-serif !important;
}

.rtl {
    direction: rtl;
}

.dropdown-toggle::after {
    margin-inline-start: .255em;
}

input {
    outline: none;
}

.primary_btn {
    background-color: #2582c0;
    color: #fff;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border: none;
    padding: 10px 30px;
}

.primary_btn:hover {
    background-color: #1c6798;
}

.secondary_btn {
    border: none;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.secondary_btn.active {
    background-color: #2582c026;
    color: #2582c0;
}

.secondary_btn:hover {
    background-color: #2582c026;
    color: #2582c0;
}

* {
    transition: 0.4s all ease-in-out;
}

.navbar-collapse .nav-link {
    text-decoration-color: #2582c0 !important;
    text-decoration-thickness: 2px;
}

.navbar-collapse .nav-link.active {
    text-decoration: underline;
}

.light {
    color: #9fb1bd;
}

.dropdown-menu {
    --bs-dropdown-min-width: 50px !important;
}

.nav-item {
    background: #fff;
    padding: 10px;
    border-radius: 15px;
    width: 60px;
    text-align: center;
}

.dropdown-menu[data-bs-popper] {
    left: -20px;
}

/* hero section */
.hero {
    background: url(/src/assets/header_image.png) no-repeat 90% 5%;
    background-size: 40%;
}

.rtl .hero {
    background-position: 5% 5%;
}

#hero_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero_section img {
    width: 374px;
    height: 453px;
    object-fit: cover;
}

#hero_section .hero_image {
    overflow: hidden;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#hero_section h1 {
    font-weight: 700;
    font-size: 48px;
}

#hero_section .hero_p {
    font-weight: 400;
    font-size: 18px;
    color: #9fb1bd;
    max-width: 533px;
}

.background_box {
    position: absolute;
    background-color: #71b6d640;
    width: 35%;
    height: 80vh;
    border-radius: 15px;
    top: 0;
    right: 0;
    z-index: -1;
}

.rtl .background_box {
    right: 65%;
}

/* booking form */

.tabs {
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.tap_buttons_container {
    display: flex;
    align-items: center;
}

.tap_buttons_container button {
    background-color: #fff;
    border: none;
    color: Gray;
    border-bottom: 2px solid transparent;
    padding: 10px 25px;
}

.tap_buttons_container> :first-child {
    border-top-left-radius: 10px;
}

.tap_buttons_container> :last-child {
    border-top-right-radius: 10px;
}

button.active_button {
    border-bottom: 2px solid #2582c0;
}

.tap_buttons_container .active_icon {
    color: #2582c0;
}

.booking_box {
    background-color: #fff;
    max-width: 700px;
    padding: 20px;
    border-radius: 0px 15px 15px 15px;
}

.rtl .booking_box {
    border-radius: 15px 0 15px 15px;
}

.inputs_block {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.booking_labels {
    display: flex;
    justify-content: space-between;
}

.inputs_block label {
    display: inline-block;
}

.inputs_block input {
    border: none;
    background-color: transparent;
    color: #c1c1c1;
}

.booking_inputs {
    display: flex;
}

.actions_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.actions_block select {
    border: none;
    padding-left: 10px;
}

.submit_booking {
    margin-left: 15px;
}

.checkbox_container {
    display: flex;
    align-items: center;
}

.checkbox_container label {
    padding-inline-start: 5px;
}

.trip_type {
    padding: 10px;
}

.forms_menu {
    margin-top: 10px;
}

/* Statistics style */
.stats_container {
    display: flex;
    justify-content: start;
    gap: 25px;
    margin: 40px 0;

}

.stats_box {
    /* max-width: 120px; */
    line-height: 10px;
}

.stats_box span {
    color: #2582c0;
}

.stats_box p {
    color: #9fb1bd;
}

#footer {
    display: flex;
    background-color: #2582c040;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
}

.footer_logo {
    display: flex;
    gap: 2px;
    align-items: center;
    line-height: 10px;
}

.logo_text_box p {
    margin: 0;
    line-height: 20px;
}

.footer_nav {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.footer_nav_links {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.footer_nav_links a {
    text-decoration: none;
    color: black;
}

.footer_nav_links a:hover {
    text-decoration: underline;
}

.footer_socials button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.rtl .footer_socials button {
    right: initial;
    left: 0;
}

.footer_socials form {
    position: relative;
    display: flex;
}

.footer_socials input {
    border: none;
    padding: 10px 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-right: 20px;
    width: 350px;
    outline: none;
}

.footer_input_icon {
    position: absolute;
    left: 15px;
    top: 53%;
    transform: translateY(-50%);
    font-size: 20px;
    color: Gray;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.rtl .footer_input_icon {
    left: initial;
    right: 30px;
}

.social_icons {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.social_icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: #1c6798;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width: 991px) {
    /* @@@@ FOOTER @@@@@ */

    #footer {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }

    /* .footer_logo {
    align-self: flex-start;
  }
  .footer_socials {
    align-self: flex-start;
  } */
    .footer_nav {
        align-self: center;
        flex-direction: row;
        padding: 20px 0;
    }
}

@media (max-width: 767px) {

    .hero {
        background-size: 40%;
        background-position: 100% 0%
    }

    .rtl .hero {
        background-position: 5% 5%;
    }

    .hero_text_box {
        background: #eeeeee7a
    }

    #hero_section .hero_p {
        color: #2C2C2C
    }

    .stats_container {
        font-size: .6rem;
        justify-content: space-around;
    }

    .stats_container h3 {
        font-size: initial;
    }

    /* @@@@HERO@@@@ */
    .hero_text_box {
        text-align: center;
    }

    .hero_text_box h3 {
        font-size: 20px;
    }

    .hero_text_box p {
        font-size: 14px !important;
        margin-left: auto;
        margin-right: auto;
    }

    .partners img {
        width: 25% !important;
    }

    .trip_type {
        padding: 5px;
    }

    .inputs_block {
        flex-direction: column;
    }

    .input_container:not(:last-child) {
        border-bottom: 1px solid #c1c1c1 !important;
    }

    .actions_block {
        flex-direction: column;
        align-items: flex-start;
    }

    .forms_menu {
        padding: 10px 0;
    }

    /* @@@@ FOOTER @@@@@ */
    #footer {
        padding: 15px;
    }

    .footer_socials input {
        width: 320px;
    }
}

/******************** trips_container *************************** */

.trips_container .image_container {
    width: 40%;
}

.trips_container .image_container img {
    max-width: 100%;
}

.trips_container .description {
    margin-inline-start: 5px;
    padding: 20px 0 0 20px;
    line-height: 2;
}

.trips_container .by {
    color: #9FB1BD;
    font-size: .8rem;
}

.trips_container .price :first-child {
    font-size: .6rem;
}

/******************** trips_container *************************** */